{% extends 'ShopBundle:shop:base.html.twig' %}

{% block body %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Category</th>
                <th scope="row">Name</th>
                <th scope="row">Price</th>
                <th scope="row">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</a></td>
                <td>{{ product.category }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price|number_format(2) }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('products_show', { 'id': product.id }) }}">SHOW</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



