{% extends 'ShopBundle:shop:base.html.twig' %}

{% block body %}
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}