{% extends 'ShopBundle:shop:base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Personal Information</h1>
            <div class="row">
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input class="btn btn-success" type="submit" value="Add" /><br><br>
                    {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                                <input class="btn btn-danger" type="submit" value="Delete"><br><br>
                            {{ form_end(delete_form) }}

                    <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}">Back</a>
            </div>
    </div>

{% endblock %}
